body {
    background-color: $background-color;
}

html, body {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: $text-color-grey;
}

html {
    min-height:100%;
    height: 100%;
    position:relative;
}
body {
    min-height:100%;
    height: 100%;
}

button, button:hover, button:focus, button:active {
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    background-color: transparent;
    border: none;
    color: $text-color-grey;
}

button:hover {
    cursor: pointer;
}

.logo {
    width: $desktop-width;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: url('./../logo.svg') center no-repeat;
    padding-top: 48px;

    @media (max-width: $break-point) {
        width: $mobile-width;
        padding-top: 24px;
    }
}

.theme-red {
    background-color: $style-color-red !important;
}

.theme-blue {
    background-color: $style-color-blue !important;
}

.theme-purple {
    background-color: $style-color-purple !important;
}


.font {
    &--kumbh {
        font-family: $font-kumbh;
    }

    &--roboto {
        font-family: $font-roboto;
    }

    &--space {
        font-family: $font-space;
    }
}